extends layout

block title
    | Projects | David Román

block head
    link(rel='stylesheet', type='text/css', href='stylesheets/projects.css')
    script(type='application/javascript', src='js/countUp.js')
    script(type='application/javascript', src='js/projects.js')
    
block content
    section
        - each p in projects
            article.project
                div.header
                    h3
                        a(href='#{p.url}') #{p.title}
                div.description
                    a.imglink(href='#{p.url}')
                        img(src='#{p.img}')
                    p !{p.description}
            hr
    
    section
        h2 Open source
        - each p in oss
            article.project
                div.header
                    h3
                        a(href='#{p.url}') #{p.title}
                    div#indicators
                        div.indicator.star
                            span(count='#{p.stars}') #{p.stars}
                            img(src='/images/star.png')
                        div.indicator.fork
                            span(count='#{p.forks}') #{p.forks}
                            img(src='/images/fork.png', content-type='image/svg+xml')
                div.description
                    a.imglink(href='#{p.url}')
                        img(src='#{p.img}')
                    p !{p.description}
            hr
